.dashboard {
    ul {
        gap:20px;
    }
     li {
        width: 300px;
        height: 300px;
        background: black;
        padding: 0 0 10px 0;
        list-style: none;
        border-radius: 20px;
        &.vehicle-regisration {
            background:  linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(45,98,253,1) 100%);
        }
        &.vehicle-tracking {
            background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(253,125,45,1) 100%);
        }
        &.maintenance-log {
            background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(202,45,253,1) 100%);
        }
        &.analytics {
            background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(45,253,51,1) 100%);
        }
     }
     a {
        display: flex;
        color: white;
        text-decoration: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 27px;
        font-weight: bold;
        width: 100%;
        height: 100%;
     }
}